* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  padding: 6rem 0;
  background-color:grey;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 125px;
  text-align: center;
}

.container h1,
.emoji-container,
.container button {
  margin-bottom: 1rem;
}

.emoji-container {
  font-size: 10rem;
}

.container button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}